<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Artciles</title>
	<link rel="shortcut icon" type="image/x-icon" href="/static/layout/assets/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/static/layout/assets/css/style.css"  media="screen" />
	<link rel="stylesheet" type="text/css" href="/static/layout/assets/css/common.css" media="screen" />
	<script src="/static/layout/assets/js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="/static/layout/assets/js/slides.min.jquery.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function(){
			$('.slides').slides({
				preload: true,
				generatePagination: true,
				play:3000
			});
		});
	</script>
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="assets/css/all-ie.css" />
<![endif]-->
	<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="assets/css/ie8.css" />
<![endif]-->
	</head>
	<body>
<!--Wrapper-->
<div id="wrapper">
      <!--Page-->
      <div class="page shadow">
    <!--Header-->
    <div id="header">

          <div class="nav-section">
        <ul class="navigation">
              <li class="home"><a href="/" class="home">Home </a></li>
							<li><a href="/article">Artciles</a></li>


            </ul>

      </div>
        </div>
    <!--Header-->
    <!--Content-->
    <div id="content">
			<div class="sidebar">
				<div class="latest-product "><br><br><br><br>
							<h2>Artciles</h2>
							<ul class="info"><br><br><br>
						<li><a href="#">Smart Gas Metres</a></li>
						<li><a href="#">Tooth-Mounted Sensor</a></li>
						<li><a href="#">Connected Vehicles</a></li>
						<li><a href="#">IoT security attacks</a></li>
						<li><a href="#">Healthcare gets personal</a></li>
						<li><a href="#">Global Cellular IoT Market</a></li>



					</ul>
							</div>



	</div>

          <div class="content-right" ><br><br>
        <div class="banner">
              <div class="slides" >

            <div class="slides_container" >

                  <div class="imgeslider" ><img src="/static/layout/assets/images/article.jpg" alt="lapy" title="" />

                <div class="banner-text" >
                      <h1><font face = "Comic sans MS" size ="6">Artciles</font></h1><br><br>
                      <span><font face = "Comic sans MS" size ="3">Everyone knows that reading is important, but have you ever asked yourself why that is so?
                      </font>

                      </span>

                      </div>
              </div>

                </div>
          </div>
            </div>
        <div class="product-des">
              <div class="product-info"><img src="/static/layout/assets/images/article1.jpg" alt="" title="" />
            <h2>Smart Gas Metres </h2>
            <div class="add"><span><font face = "Comic sans MS" size ="2" style="color:#089067"><p>Tata Communications to deploy 5000 IoT enabled smart gas metres in Mumbai.</p></font></span><a href="" target="_blank"></a></div>
            <div class="add-to-list">
                  <ul>
                <li><a href="https://www.moneycontrol.com/news/business/tata-communications-to-deploy-5000-iot-enabled-smart-gas-metres-in-mumbai-2541923.html" target="_blank">More Reference...</a></li>
                </ul>
                </div>
          </div>
              <div class="product-info"><img src="/static/layout/assets/images/article2.jpg" alt="" title="" />
            <h2>Tooth-Mounted Sensor </h2>
            <div class="add"><span><font face = "Comic sans MS" size ="2" style="color:#089908"><p>Scientists have designed a way to precisely monitor the food we eat using a sensor on our tooth.</p></font></span><a href="" target="_blank"></a></div>
            <div class="add-to-list ">
                  <ul>
                <li><a href="https://www.medicalnewstoday.com/articles/321297.php" target="_blank">More Reference...</a></li>
                  </ul>
                </div>
          </div>
              <div class="product-info last-p"><img src="/static/layout/assets/images/article3.jpg" alt="ipod-tuch" title="product" />
            <h2>Connected Vehicles</h2>
            <div class="add"><span><font face = "Comic sans MS" size ="2" style="color:#080090"><p>Report says there will be more than 125m connected vehicles by 2022</p></font></span><a href="" target="_blank"></a></div>
            <div class="add-to-list ">
                  <ul>
                <li><a href="https://www.iottechnews.com/news/2018/apr/03/report-more-125m-connected-vehicles-2022/" target="_blank">More Reference...</a></li>
                  </ul>
                </div>
          </div>
            </div>
        <div class="product-des">
              <div class="product-info"><img src="/static/layout/assets/images/article4.jpg" alt="lapy" title="product" class="lapy" />
            <h2>IoT security attacks</h2>
            <div class="add"><span><font face = "Comic sans MS" size ="2" style="color:#088890"><p>Organisations fear IoT security attacks – but are not actively monitoring risks</p></font></span><a href=""target="_blank"></a></div>
            <div class="add-to-list">
                  <ul>
                <li><a href="https://www.iottechnews.com/news/2018/mar/27/organisations-fear-iot-security-attacks-are-not-actively-monitoring-risks/" target="_blank">More Reference...</a></li>
                  </ul>
                </div>
          </div>
              <div class="product-info"><img src="/static/layout/assets/images/article5.jpg" alt="g-camera" title="product" class="lapy" />
            <h2>Healthcare gets personal</h2>
            <div class="add"><span><font face = "Comic sans MS" size ="2" style="color:#089890"><p>Healthcare gets personal: How health is shifting into the hands of patients</p></font></span><a href="" target='_blank'></a></div>
            <div class="add-to-list ">
                  <ul>
                <li><a href="https://www.iottechnews.com/news/2018/mar/13/healthcare-gets-personal-how-health-shifting-hands-patients/" target="_blank">More Reference...</a></li>

              </ul>
                </div>
          </div>
              <div class="product-info last-p"><img src="/static/layout/assets/images/article6.jpg" alt="dbl-ipad" title="product" class="d-phone" />
              <h2>Global Cellular IoT Market</h2>
            <div class="add"><span><font face = "Comic sans MS" size ="2" style="color:#086690"><p>New report assesses global cellular IoT market through 2025 </p></font></span><a href="#"></a></div>
            <div class="add-to-list ">
                  <ul>
                <li><a href="https://www.iottechnews.com/news/2018/mar/13/new-report-assesses-global-cellular-iot-market-through-2025/" target="_blank">More Reference...</a></li>

              </ul>
                </div>
          </div>
            </div>


      </div>
        </div>
    <!-- Content-->
  </div>
      <!--Footer-->
      <div id="footer">
    <div class="footer-top">
          <div class="page">
        <div class="f-nav-section">
              <!-- <ul>
            <li ><a href="/">Home </a></li>
              </ul> -->

            </div>
      </div>
        </div>
    <!-- <div class="page">
          <div class="footer-bottom">
        <div class="copyright">
              <ul>
            <li>&copy; 2013 </li>
            <li><a href="http://www.webgranth.com" class="select"> Webgranth</a> All Rights Reserved.</li>
            <li class="last"><a href="#">Privacy Policy</a> </li>
          </ul>
            </div>
        <div class="social-icon">
              <ul>
            <li><a href="#" class="facebook"></a></li>
            <li><a href="#" class="twitter"></a></li>
            <li class="sms-last"><a href="#" class="bing"></a></li>
          </ul>
            </div>
      </div>
        </div> -->
  </div>
      <!--Footer-->
    </div>
<!-- <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5125d19d7877c409"></script>
-->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--Wrapper-->
</body>
</html>
