<!DOCTYPE html>
<html>
<head>
<title>IoT Asset Details | Home :: Welcome</title>
<link href="/static/layout/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/layout/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/static/layout/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript">
addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
 </script>
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
<!-- start menu -->
<link href="/static/layout/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/layout/js/memenu.js"></script>
<script>
$(document).ready(function(){$(".memenu").memenu();});</script>
<script src="/static/layout/js/simpleCart.min.js"> </script>
</head>
<body>
<!--header-->
<div class="header">
	<div class="header-top">
		<div class="container">
			<div class="social">
				<ul>
					<li><a href="https://www.facebook.com/EY/" target="_blank"><i class="facebok"> </i></a></li>
					<li><a href="https://twitter.com/ey_india?lang=en" target="_blank"><i class="twiter"> </i></a></li>
					<li><a href="https://plus.google.com/u/0/+ernstyoung" target="_blank"><i class="inst"> </i></a></li>
					<li><a href="https://www.instagram.com/ey_global/?hl=en" target="_blank"><i class="goog"> </i></a></li>
						<div class="clearfix"></div>
				</ul>
			</div>
			 <div class="header-left">

				 <!-- <div class="search-box">
					<div id="sb-search" class="sb-search">
						<form action="#" method="post">
							<input class="sb-search-input" placeholder="Enter your search term..." type="search"  id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"> </span>
						</form>
					</div>
				</div> -->

 <!-- search-scripts  -->
					 <!-- <script src="js/classie.js"></script>
					<script src="js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>  -->
					<!-- //search-scripts -->

				<!-- <div class="ca-r">
					<div class="cart box_1">
						<a href="checkout.html">
						<h3> <div class="total">
							<span class="simpleCart_total"></span> </div>
							<img src="images/cart.png" alt=""/></h3>
						</a>
						<p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>

					</div>
				</div> -->
					<div class="clearfix"> </div>
			</div>

		</div>
		</div>
		<div class="container">
			<div class="head-top">
				<div class="logo"><br><br>
					<h1><a href="/"><font face = "Comic sans MS" size ="8" style="color:#000000">IoT Asset Directory</font></a></h1><br><br>
				</div>
		  <div class=" h_menu4">
				<ul class="memenu skyblue">

					  <li><a class="color8" href="/"><font face = "Comic sans MS" size ="3" style="color:#000000">Home</font></a></li>
            <li><a class="color1" href="/sensor"><font face = "Comic sans MS" size ="3" style="color:#000000">Sensors</a>
        <div class="mepanel">
          <div class="row">
            <div class="col1">
              <div class="h_nav">
                <ul>
                  <li><a href="/operation">Operation Sensors...</a></li>
                  <li><a href="/asset/assettag">Asset Tracking</a></li>
                  <li><a href="/asset/whome">Smart Automation</a></li>

                </ul>
              </div>
            </div>
            <div class="col2">
              <div class="h_nav">
                <ul>
                  <li><a href="/health">Health Sensors...</a></li>
                  <li><a href="/asset/health">Health</a></li>
                </ul>
              </div>
            </div>
            <div class="col1">
              <div class="h_nav">
                <ul>
                  <li><a href="/industry/industrial">Industrial Sensors...</a></li>
                    <li><a href="/asset/enery">Energy Sensors</a></li>
                    <li><a href="/asset/oil">Oil and Gas Sensors</a></li>
                    <li><a href="/asset/agri">Agriculture Sensors</a></li>
                    <li><a href="/asset/transport">Transportation and Automotive Sensors</a></li>
                    <li><a href="/asset/power">Power and Utility Sensors</a></li>
                </ul>
              </div>
            </div>
            <div class="col2">
              <div class="h_nav">
                <ul>
                  <li><a href="/wearable">Wearables...</a></li>
                    <li><a href="/asset/whealth">Smart Health Wearables</a></li>
                    <li><a href="/asset/wsmart">Smart Wearables</font></a></li>

                </ul>
              </div>
            </div>
            </div>
          </div>

        </li>
          <li class="grid"><a class="color2" href="/actuatordirectory"><font face = "Comic sans MS" size ="3" style="color:#000000">Actuators</font></a>
       </li>
      <li><a class="color4" href="/controllerdirectory"><font face = "Comic sans MS" size ="3" style="color:#000000">Controllers</font></a></li>
      <li><a class="color6" href="/module"><font face = "Comic sans MS" size ="3" style="color:#000000">Connectivity Modules</font></a></li>
      <li><a class="color6" href="/cloud"><font face = "Comic sans MS" size ="3" style="color:#000000">IoT Clouds</font></a></li>
      <li><a class="color6" href="/article"><font face = "Comic sans MS" size ="3" style="color:#000000">Articles</font></a></li>

    </ul>
			</div>

				<div class="clearfix"> </div>
		</div>
		</div>
	</div>
	<div class="banner">
		<div class="container">
			  <script src="/static/layout/js/responsiveslides.min.js"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
			<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider">
			    <li>

						<div class="banner-text">
							<h3><font face = "Comic sans MS" size ="6" style="color:#000000">Sensors</font></h3>
						<p> <font face = "Comic sans MS" size ="4" style="color:#000000">A sensor is a device, module, or subsystem whose purpose is to detect events or changes in its environment and send the information to other electronics, frequently a computer processor. A sensor is always used with other electronics, whether as simple as a light or as complex as a computer.</font></p>
						</div>

				</li>
				<li>

						<div class="banner-text">
							<h3><font face = "Comic sans MS" size ="6" style="color:#000000">Actuators</font></h3>
						<p><font face = "Comic sans MS" size ="4" style="color:#000000"> An actuator is a component of a machine that is responsible for moving and controlling a mechanism or system, for example by opening a valve. In simple terms, it is a "mover".</font></p>
						</div>

				</li>
				<li>
						<div class="banner-text">
							<h3><font face = "Comic sans MS" size ="6" style="color:#000000">Controllers</font></h3>
						<p><font face = "Comic sans MS" size ="4" style="color:#000000">A controller, in a computing context, is a hardware device or a software program that manages or directs the flow of data between two entities.</font></p>
						</div>

				</li>
				<li>
						<div class="banner-text">
							<h3><font face = "Comic sans MS" size ="6" style="color:#000000">Connectivity Modules</font></h3>
						<p><font face = "Comic sans MS" size ="4" style="color:#000000">Connectivity refers broadly to social connections forged through mediated communications systems.</font></p>
						</div>

				</li>
				<li>
						<div class="banner-text">
							<h3><font face = "Comic sans MS" size ="6" style="color:#000000">IoT Clouds</font></h3>
						<p><font face = "Comic sans MS" size ="4" style="color:#000000">IoT Cloud is a platfor, that is designed to store and process Internet of Things (IoT) data</font>.</p>
						</div>

				</li>
			</ul>
		</div>

	</div>
	</div>

<!--content-->
<div class="container">
	<div class="cont">
		<div class="content">

			<div class="content-top"><br><br>
				<h1><font face = "Comic sans MS" size ="6" style="color:#000000">Categories</font></h1><br><br>
				<div class="grid-in">
					<div class="col-md-3 grid-top simpleCart_shelfItem">
						<a href="/sensor" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="/static/layout/images/pi.jpg" alt="">
							<div class="b-wrapper">
								<h3 class="b-animate b-from-left    b-delay03 ">
									<span>Sensors</span>

								</h3>
							</div>
						</a>
            <p><a href="/sensor" target="_blank"><font face = "Comic sans MS" size ="2" style="color:#000000">Sensor</font></a></p>

          </div>

					<div class="col-md-3 grid-top simpleCart_shelfItem">
						<a href="/actuatordirectory" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="/static/layout/images/pi1.jpg" alt="">
							<div class="b-wrapper">
											<h3 class="b-animate b-from-left    b-delay03 ">
												<span>Actuators </span>
											</h3>
										</div>
						</a>
            <p><a href="/actuatordirectory" target="_blank"><font face = "Comic sans MS" size ="2" style="color:#000000">Actuators</font></a></p>

					</div>

					<div class="col-md-3 grid-top simpleCart_shelfItem">
						<a href="/controllerdirectory" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="/static/layout/images/pi2.jpg" alt="">
							<div class="b-wrapper">
											<h3 class="b-animate b-from-left    b-delay03 ">
												<span>Controllers</span>
											</h3>
										</div>
						</a>
            <p><a href="/controllerdirectory" target="_blank"><font face = "Comic sans MS" size ="2" style="color:#000000">Controllers</font></a></p>

					</div>

					<div class="col-md-3 grid-top">
						<a href="/module" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="/static/layout/images/pi3.jpg" alt="">
							<div class="b-wrapper">
											<h3 class="b-animate b-from-left    b-delay03 ">
												<span>Connectivity Modules</span>
											</h3>
										</div>
						</a>
            <p><a href="/module" target="_blank"><font face = "Comic sans MS" size ="2" style="color:#000000">Connectivity Modules</font></a></p>

					</div>

							<div class="clearfix"> </div>
				</div>


        <div class="grid-in">
          <div class="col-md-3 grid-top simpleCart_shelfItem">
            <a href="/cloud" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="/static/layout/images/pi4.jpg" alt="">
              <div class="b-wrapper">
                <h3 class="b-animate b-from-left    b-delay03 ">
                  <span>IoT Clouds</span>
                </h3>
              </div>
            </a>
            <p><a href="/cloud" target="_blank"><font face = "Comic sans MS" size ="2" style="color:#000000">IoT Clouds</font></a></p>

          </div>

          <div class="col-md-3 grid-top simpleCart_shelfItem">
            <a href="/wearable" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="/static/layout/images/pi5.jpg" alt="">
              <div class="b-wrapper">
                      <h3 class="b-animate b-from-left    b-delay03 ">
                        <span>Smart Wearables </span>
                      </h3>
                    </div>
            </a>
            <p><a href="/wearable" target="_blank"><font face = "Comic sans MS" size ="2" style="color:#000000">Smart Wearables</font></a></p>

          </div>

          <div class="col-md-3 grid-top simpleCart_shelfItem">
            <a href="/article" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="/static/layout/images/pi6.jpg" alt="">
              <div class="b-wrapper">
                      <h3 class="b-animate b-from-left    b-delay03 ">
                        <span>Articles</span>
                      </h3>
                    </div>
            </a>
            <p><a href="/article" target="_blank"><font face = "Comic sans MS" size ="2" style="color:#000000">Articles</font></a></p>

          </div>
          <div class="col-md-3 grid-top simpleCart_shelfItem">
            <a href="/" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="/static/layout/images/pi7.gif" alt="">
              <div class="b-wrapper">
                      <h3 class="b-animate b-from-left    b-delay03 ">
                        <span>Home Page..</span>
                      </h3>
                    </div>
            </a>
            <p><a href="/article" target="_blank"><font face = "Comic sans MS" size ="2" style="color:#000000">Home</font></a></p>

          </div>
          <div class="clearfix"> </div>
        </div>
			</div>
		</div>
	<!----->
	</div>
	<!---->
</div>
<!-- <div class="footer w3layouts">
				<div class="container">
			<div class="footer-top-at w3">

				<div class="col-md-3 amet-sed w3l">
				<h4>MORE INFO</h4>
				<ul class="nav-bottom">
						<li><a href="#">How to order</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="contact.html">Location</a></li>
						<li><a href="#">Shipping</a></li>
						<li><a href="#">Membership</a></li>
					</ul>
				</div>
				<div class="col-md-3 amet-sed w3ls">
					<h4>CATEGORIES</h4>
					<ul class="nav-bottom">
						<li><a href="#">Bed linen</a></li>
						<li><a href="#">Cushions</a></li>
						<li><a href="#">Duvets</a></li>
						<li><a href="#">Pillows</a></li>
						<li><a href="#">Protectors</a></li>
					</ul>

				</div>
				<div class="col-md-3 amet-sed agileits">
					<h4>NEWSLETTER</h4>
					<div class="stay agileinfo">
						<div class="stay-left wthree">
							<form action="#" method="post">
								<input type="text" placeholder="Enter your email " required="">
							</form>
						</div>
						<div class="btn-1 w3-agileits">
							<form action="#" method="post">
								<input type="submit" value="Subscribe">
							</form>
						</div>
							<div class="clearfix"> </div>
			</div>

				</div>
				<div class="col-md-3 amet-sed agileits-w3layouts">
				<h4>CONTACT US</h4>
					<p>Contrary to popular belief</p>
					<p>The standard chunk</p>
					<p>office :  +12 34 995 0792</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-class w3-agile">
		<p>© 2015 Mattress . All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		</div>
		</div> -->
</body>
</html>
